/* side menu  */
.sidemenu {
  position: relative;
  width: 90%;
  background-color: #fafafa;
  color: #474141;
  transition: all 0.4s ease-in-out;
  padding-bottom: 80px;
  overflow: auto;
  margin-top: 10px;
}

.menu {
  position: relative;
  width: 100%;
  font-weight: 500;
}

.menu_show {
  display: flex;
  align-items: center;
}

.menu_control {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu_show p {
  padding-left: 10px;
}

.icons {
  font-size: 18px;
  cursor: pointer;
}

.menu_item ul {
  position: relative;
  background-color: #eeeeee;
  height: 0;
  overflow: hidden;
}

.toggleMenu ~ ul {
  height: auto !important;
}

.menu_item ul li {
  padding: 10px 20px;
  font-size: 14px;
}

.menu_item li:hover {
  background-color: #1d2853;
  cursor: pointer;
  width: 100%;
}

#toggleIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

#openMenu {
  cursor: pointer;
}

.collapseMenu {
  width: 100px;
  overflow: unset;
}

.collapseMenu #openMenu {
  display: none;
}

.collapseMenu .icons {
  font-size: 25px;
}

.collapseMenu .menu_control {
  justify-content: center;
}

.collapseMenu .menu_show p {
  display: none;
}

.collapseMenu .menu_item:hover ul {
  height: auto;
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  border-radius: 0 10px 10px 0;
}

.changeDirection {
  transform: rotate(-180deg);
}

::-webkit-scrollbar {
  width: 5px;
}

/* banner section  */
.banner-img {
  height: 250px;
}
.btn-search {
  margin-left: -7% !important;
  background-color: gray;
  color: azure;
  border: none;
  z-index: 1000;
}

.btn-cat {
  width: 90%;
  border: none;
  padding: 5px;
  background-color: rgba(67, 201, 67, 0.959);
  color: #fff;
}
.search-input {
  width: 80%;
  padding-left: 15px;
  border: solid 1px gray;
}
.user {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
}
.search-input:focus {
  background-color: #c4c7c400;
  outline: none;
}
.zindex-dropdown {
  z-index: 1000;
}
.star-icon {
  color: rgb(224, 213, 50);
}
.new {
  top: 5%;
  left: 8%;
}
/* Dropdown Button */
.dropbtn {
  font-size: 16px;
  border: none;
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a {
  text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #c4c7c4;
}

/* image design  */
.img-container {
  position: relative;
  width: 100%;
}
.img-item {
  opacity: 1;
  display: block;
  height: 200px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* cart image design  */
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-container:hover .img-item {
  opacity: 0.3;
}
.img-container:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.cart-mp {
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 50%;
  padding: 4px 11px;
}
.cart1 {
  background-color: rgb(12, 12, 12);
  border-radius: 60%;
  padding: 4px 10px;
}
.middle button {
  background-color: rgb(53, 161, 53);
  color: #f1f1f1;
  border: none;
  border-radius: 20%;
  padding: 10px 20px;
}
.icon-support {
  color: rgb(144, 167, 111);
  background-color: rgba(136, 231, 136, 0.288);
}

/* modal design part  */
#open-modal {
  background-color: rgb(53, 161, 53);
  color: #f1f1f1;
  border: none;
  padding: 10px 20px;
}

#modal {
  position: absolute;
  top: 20%;
  left: 5%;
  opacity: 0;
  background-color: #fff;
  width: 90%;
  height: fit-content;
  border: solid 1px gray;
  pointer-events: none;
}
#modal.show {
  opacity: 1;
  z-index: 100;
  pointer-events: auto;
}
.btn-container {
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-modal {
  border: none;
  font-size: 4.2rem;
  background-color: transparent;
  color: #ddd;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4rem 4rem 8rem rgba(0, 0, 0, 0.6);
  padding: 2.2rem;
}

.img-details {
  border: solid 1px gray;
}

.modal-title {
  font-size: 2.2rem;
  padding: 2rem;
}
.modal-description {
  font-size: 1.8rem;
}

/* icon design  */
.icon-mp {
  padding: 5px 13px;
  background-color: #fbfffb;
  outline: solid 1px gray;
  border-radius: 50%;
}
.icon-mp2 {
  padding: 5px 13px;
  background-color: #dfdede;
  border-radius: 50%;
}
.btn-button {
  width: 50%;
  padding: 10px;
  background-color: rgb(60, 179, 60);
  border: none;
  color: #fff;
}

/* footer design  */
.footer-bg {
  background-color: rgb(214, 211, 211);
}
.footer-img {
  width: 20%;
}
.footer-pay {
  width: 60px;
  height: 20px;
  margin-left: 5px;
}
.footer-list ul li {
  list-style: none;
}
.footer-list ul {
  margin: 0;
  padding: 0;
}

/* responsive for small device  */
@media only screen and (max-width: 600px) {
  .banner-img {
    height: auto;
  }
  .support {
    display: grid;
    justify-content: center;
  }
  .btn-search {
    margin-left: -10% !important;
    background-color: gray;
    color: azure;
    border: none;
    z-index: 1000;
  }

  .footer-icon {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .modal-img {
    width: 100%;
  }
  .img-details {
    width: 20%;
  }
  .user-menu {
    margin-top: 10px;
  }
  .side {
    display: none;
  }
}
